<nav>
  <ul>
    <li>
      <a href="http://localhost:3000/">Home</a>
    </li>
    <li>
      <a href="http://localhost:3000/top10Store1"
        >Check out our " Top 10 " rentals of store 1</a
      >
    </li>
    <li>
      <a href="http://localhost:3000/top10Store2"
        >Check out our " Top 10 " rentals of store 2</a
      >
    </li>
  </ul>
</nav>
