<nav>
  <ul>
    <li>
      <a href="http://localhost:3000/">HOME</a>
    </li>
    <li>
      <a href="http://localhost:3000/owner">TOP RENTALS</a>
    </li>
    <li>
      <a href="http://localhost:3000/customer">MY SQL VIDEO</a>
    </li>
    <li>
      <a href="http://localhost:3000/mgmt">MANAGEMENT TOOLS</a>
    </li>
  </ul>
  <hr />
</nav>
