<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <h1>404 - Hit the rewind button</h1>

      <div><%- include ('./partials/nav.ejs') %></div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
