<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div id="nav"><%- include ('./partials/nav.ejs') %></div>
      <h3>Welcome to SQL Video</h3>
      <div>
        <h4>New Locations Coming Soon...</h4>
        <p>
          Right now we have 2 locations. <br />
          Locations: Woodridge, Australia and Lethbridge, Canada
          <br />
          <br />
          Check out our top rentals in the "top 10" above
        </p>
      </div>
      <div>
        <h4>Management Tools to be added...</h4>
        <p>We are working with our staff to add more tools for the staff</p>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
