<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div id="nav"><%- include ('./partials/nav.ejs') %></div>
      <h3>SQL Video Management Tools</h3>
      <div>
        <h4>
          View pending returns
          <a href="http://localhost:3000/mgmt/rentalsDue">"CLICK HERE"</a>
        </h4>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
