<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div id="nav"><%- include ('./partials/nav.ejs') %></div>
      <h3>SQL Video Management Tools</h3>
      <div>
        <a href="http://localhost:3000/mgmt/rentalsDue"
          >Rentals Due for return</a
        >
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
