<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div id="nav"><%- include ('./partials/nav.ejs') %></div>
      <h3>Welcome to SQL Video</h3>
      <h4>Check out our top rentals at each location</h4>

      <p>
        Check out the "Top 10" in Woodridge, Australia
        <a href="http://localhost:3000/owner/top10Store1"> "CLICK HERE"</a>
      </p>

      <p>
        Check out the "Top 10" in Lethbridge, Canada
        <a href="http://localhost:3000/owner/top10Store2"> "CLICK HERE"</a>
      </p>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
