<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <div id="nav"><%- include ('./partials/nav.ejs') %></div>
      <h3>Welcome to SQL Video</h3>
      <p>Check out our top rentals at each of our locations</p>

      <a href="http://localhost:3000/owner/top10Store1"
        >Check out our " Top 10 " rentals of store 1</a
      >

      <a href="http://localhost:3000/owner/top10Store2"
        >Check out our " Top 10 " rentals of store 2</a
      >
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
