body {
  background-color: aliceblue;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: rgba(0, 8, 255, 0.722);
  color: aliceblue;
  text-align: center;
}

main,
footer {
  padding: 0% 2%;
}

nav {
}

nav ul {
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  color: aliceblue;
  background-color: rgba(0, 8, 255, 0.722);
  border-radius: 24%;
  padding: 1%;
}

nav ul li a {
  color: aliceblue;
}

a {
  text-decoration: none;
}

hr {
  border-width: 2px;
  border-color: rgba(0, 8, 255, 0.722);
}
