body {
  background-color: aliceblue;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgba(0, 8, 255, 0.722);
  color: aliceblue;
  text-align: center;
  font-size: 1.8rem;
}

header h1 {
  letter-spacing: 0.3rem;
  margin: 0%;
}

header h2 {
  margin: 0%;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}

main,
footer {
  padding: 0% 2%;
}

nav {
}

nav ul {
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  color: aliceblue;
  background-color: rgba(0, 8, 255, 0.722);
  border: 2px solid rgba(0, 8, 255, 0.722);
  border-radius: 24%;
  padding: 1%;
}

nav ul li a {
  color: aliceblue;
}

a {
  text-decoration: none;
}

hr {
  border-width: 2px;
  border-color: rgba(0, 8, 255, 0.722);
}

table {
  border-spacing: 20px 5px;
}

td {
  margin: 2%;
}

th {
  color: rgba(0, 8, 255, 0.722);
  font-size: 1.5rem;
}
